h2 {
    font-size: 2rem;
    color: rgb(214, 230, 235);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.contact {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.credits {
    text-align: right;
    color: rgb(214, 230, 235);
}

.credits p {
    margin: 0.1rem 0;
}

.credits a {
    color: rgb(214, 230, 235);
}

.imagesCredits {
    font-size: 90%;
}

.socialIcon {
    width: 2.5rem;
    height: 2.5rem;
}

.socialIcon:hover {
    filter: brightness(0.8);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}
