.header {
    padding: 1rem;
    top: 0;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.navLink {
    color: black;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
}

.navLink:hover {
    color: #f3f3f3;
    transform: translateY(-2px);
    text-decoration: none;
}